# APP
PORT = PORT
NODE_ENV = development

# DB
DB_HOST = DB_HOST
DB_PORT = DB_PORT
DB_USERNAME = root
DB_PASSWORD = DB_PASSWORD
DB_NAME = DB_NAME

# JWT
JWT_SECRET=JWT_SECRET

# Admin panel
ADMIN_SESSION_SECRET=ADMIN_SESSION_SECRET

# CORS
CORS_ORIGIN=CORS_ORIGIN

# REDIS
REDIS_HOST=REDIS_HOST
REDIS_PORT=REDIS_PORT
REDIS_PASSWORD=REDIS_PASSWORD
REDIS_DB=0
REDIS_KEY_PREFIX=app:
REDIS_DEFAULT_TTL=300